.collapses-container-log {
  display: flex;
  gap: 60px;
  margin: 50px 0;
}

main {
  margin: 0 100px;
}

body {
  max-width: 1440px;
}

.collapse-logement {
  width: 60%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.collapse-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.collapse-logement-content {
  width: 95%;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.collapse-logement.open .collapse-logement-content {
  max-height: 500px;
  opacity: 1;
}

.collapse-logement .arrow {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.collapse-logement.open .arrow i {
  animation: rotateDown 0.5s forwards;
}

.arrow i {
  animation: rotateUp 0.5s forwards;
}

@keyframes rotateDown {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateUp {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.collapses-container-log .collapse {
  margin-left: 0;
}

.carousel-name {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: rgba(255, 96, 96, 1);
  margin-top: 50px;
}

.host-info img {
  border-radius: 50%;
  width: 64px;
}

.rateTags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.nameRate {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: -180px;
}

.host-info {
  display: flex;
  align-items: center;
  gap: 10px; 
  order: -1;
  justify-content: flex-end;
}

.host-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 96, 96, 1);
}

.collapse-logement-content p {
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;;
  font-size: 18px;
  font-weight: 400;
}

.collapse-logement-content ul {
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;;
  font-size: 18px;
  font-weight: 400;
}

.location {
  font-family: 'Montserrat', sans-serif;;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;;
  font-size: 36px;
  font-weight: 500;
}

/* Responsive  */
@media (max-width: 480px) {
  main {
    margin: 0 20px;
  }

  .host-info img {
    width: 42px;
  }

  p {
    width: 100%;
    align-items: center;
  }

  h1 {
    font-size: 18px;
  }

  .host-name {
    font-size: 14px;
  }

  .collapse-logement .arrow {
    font-size: 18px;
  }

  .carousel-name img {
    width: 50px;
  }

  .rateTags {
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
  }

  .host-info {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 0;
  }

  .collapses-container-log {
    flex-direction: column;
    gap: 0;
  }

  .collapse-logement {
    width: 100%;
  }

  .collapse-logement-content p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }

  .collapse-logement-content ul {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .nameRate {
    flex-direction: row-reverse;
    margin-top: 30px;
    justify-content: space-between;
  }
}
