.tags-container {
    display: flex;
    gap: 8px;
    width: 40%;
}

.tag {
    background-color: rgba(255, 96, 96, 1);
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    width: 35%;
}

@media (max-width: 480px) {
    .tags-container {
        width: 100%; 
        text-wrap: wrap;
    }

    .tag {
        width: 26%; 
        margin-bottom: 8px;
        font-size: 12px;
        height: auto;
    }
}
