.apropos-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start; 
  font-size: 18px;
}

.collapses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  margin-top: 20px;
}

.collapse {
  margin-bottom: 20px;
  width: 90%; 
  margin-left: 20px;
}

.collapses-container .collapse-content p {
  margin-left: 0; 
  margin-bottom: 15px; 
  font-family: 'Montserrat', sans-serif;;
  font-size: 18px;
}
.collapses-container .collapse-title{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;;
  line-height:34.22px;
}
@media (max-width: 480px) {
  .collapse {
    width: 100%; 
    margin-left: 0;
  }
  .apropos-content{
    padding: 20px 8px;
  }
  .collapses-container .collapse-content p {
      font-size: 12px;
  }
  .collapses-container .collapse-title{
    font-size: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;;
    line-height:34.22px;
  }
}