@import '../../styles/variables.scss';

.apropos-content {
  padding: $padding-base;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  font-size: $font-size-base;

  @media (max-width: $media-breakpoint) {
    padding: $padding-base $padding-small;
  }
}

.collapses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $width-full;
  margin-top: $margin-base;
  
  .collapse {
    margin-bottom: $margin-base;
    width: $width-collapse;
    margin-left: $margin-base;

    @media (max-width: $media-breakpoint) {
      width: $width-full;
      margin-left: 0;
    }

    .collapse-title {
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      font-family: $font-family;
      line-height: $line-height;

      @media (max-width: $media-breakpoint) {
        font-size: 13px;
      }
    }

    .collapse-content {
      p {
        margin-left: 0;
        margin-bottom: 15px;
        font-family: $font-family;
        font-size: $font-size-base;

        @media (max-width: $media-breakpoint) {
          font-size: $font-size-small;
        }
      }
    }
  }
}
