
$primary-color: rgba(255, 96, 96, 1);

$font-family: 'Montserrat', sans-serif;
$font-size-base: 18px;
$font-size-small: 12px;
$font-size-medium: 24px;

$font-size-large: 36px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$padding-smalest: 10px;
$margin-base: 20px;
$transition-duration: 0.5s;
$collapse-max-height: 500px;
$collapse-header-height: 52px;

$media-breakpoint: 480px;


$line-height: 34.22px;
$padding-base: 20px;
$padding-small: 8px;
$width-full: 100%;
$width-collapse: 90%;

$banner-height: 223px;
$banner-height-mobile: 111px;
$banner-width: 97%;
$border-radius: 20px;
$banner-border-radius-mobile: 10px;
$banner-background-color: rgba(0, 0, 0, 0.2);
$banner-filter: brightness(0.6);
$banner-margin-left: 20px;
$banner-margin-left-mobile: 10px;
$banner-title-font-size: 48px;
$banner-title-font-size-mobile: 24px;
$banner-title-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);


$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$border-radius-small: 5px;
$border-radius-card: 8px;
$background-color-light: rgba(246, 246, 246, 1);

$color-nav-link: #282c34;
$color-primary: #282c34;
$link-color: #61dafb;
$font-size-base: calc(10px + 2vmin);