@import '../../styles/variables.scss';

.rate-container {
  display: flex;

  .star {
    font-size: 36px;
    color: #ddd;

    &.filled {
      color: $primary-color;
    }
  }

  @media (max-width: $media-breakpoint) {
    justify-content: center;
    margin-top: 30px;
    gap: 4px;
    white-space: nowrap;

    .star {
      font-size: 22px;
    }
  }
}
