@import '../../styles/variables.scss';

main {
  margin-left: 0 20px;

  .home-logo {
    height: 40px; 
  }
  
  .home-content {
    padding-right: 22px;
    padding-left: 10px;
    padding-top: 15px;

    @media (max-width: $media-breakpoint) {
      padding: 5px;
    }
  }
}
