@import '../../styles/variables.scss';

main {
  margin: 0 20px;

  .home-logo {
    height: 40px; 
  }
  
  .home-content {
    padding: $padding-base;

    @media (max-width: $media-breakpoint) {
      padding: 5px;
    }
  }
}
