@import '../../styles/variables.scss';


.banner {
  position: relative;
  width: $banner-width;
  height: $banner-height;
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: $banner-title-text-shadow;
  margin-left: $banner-margin-left;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $banner-background-color;
    z-index: 1;
    border-radius: $border-radius;
  }

  .banner-title {
    position: relative;
    font-size: $banner-title-font-size;
    z-index: 2;
    font-family: $font-family;
  }

  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: $banner-filter;
    border-radius: $border-radius;
  }

  @media (max-width: $media-breakpoint) {
    height: $banner-height-mobile;
    margin-left: $banner-margin-left-mobile;

    .banner-title {
      font-size: $banner-title-font-size-mobile;
      text-align: start;
      margin-left: $banner-margin-left-mobile;
    }

    &::before {
      border-radius: $banner-border-radius-mobile;
    }

    .banner-img {
      border-radius: $banner-border-radius-mobile;
    }
  }
}
